/*styles for my resume*/

head{
    font-family: 'Open Sans', sans-serif;    
    color:#33485e;
}

body{
    font-family: 'Open Sans', sans-serif;
    color:#444;
}

#container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
}

/*The text in the center that says my name*/
h1{
    text-align: center;
    text-transform: uppercase;
}

/*My title as a student*/
strong{
    text-transform: uppercase;
    font-size: 1.5em;
    color: #33485e;
}

/*The sections for my experience, education, and skills*/
h2{
    text-transform: uppercase;
    font-size: 1.5em;
    background-color: #33485e;
    color: white;
    font-weight: 400;
   
}

/*My job titles*/
h3{
    font-weight: 600;
    font-size: 1.5em;
}

/*The employers I worked for*/
h4{
    font-weight: 400;
    font-size: 1.5em;
}

/*The years I have worked*/
h5{
    font-weight: 400;
    font-size: 1em;
    font-style: italic;
}

/*The bullet points I have on my website*/
li{
    font-size: 1em;
}

#name {
    border-bottom: 1px solid #33485e;
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
}

#sectionheader {
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    width: 70%;
    min-width: 300px;
}

#organization {
    font-size: 1.25em;
}

#date {
    margin-top: 2px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#description {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

#menu {
    margin: 0px;
    padding: 0px;
    text-align: center;
    display: inline;
}

#degrees {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#do {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#title {
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;

}