
/*I chose a large font to emulate the Sports Illustrated logo*/
#masthead{
    font-family: 'Bowlby One';
    font-size: 40px;
    color: white;
    text-align: center;
    background-color: black;
    letter-spacing: 2pt;
}

/*I went with a modern looking serif font*/
#headline{
   font-size: 25px;
   font-family: 'Roboto Slab';
   
}

#subhead{
    font-size:x-large;
    font-weight: bold;
    font-family: arial;
   
}

#text{
    margin: 0 auto;
    width: 900px; 
    font-size: 12px;
    line-height: 20pt;
    font-family: helvetica, arial, sans-serif;
}

#pullquote{
    font-size: 30pt;
    line-height: 40pt;
    font-style: italic;
    color: rgb(231, 35, 35);
}

#image_source{
    font-size: 8pt;
    color: grey;
}

#byline{
    font-style: italic;
    font-size:medium;
    font-family: 'Roboto Slab';
}

#related_items{
    text-align: center;
    font-family: 'Roboto Slab';
    font-size: x-large;
}

#links{
    text-align: center;
}